header{
 background:#017729;
 color: #000;
 text-align: center;
 padding: 15px 30px;
 box-shadow: 0.5px 0.5px 10px 0.5px #000;
}

nav{
    padding-top: 10px;
}
.aboutus{
    display: flex;
    justify-content: center;
}
.aboutus .aboutus-text{
    margin: 100px;
    text-align: center;
    padding: 0 60px;
}
.aboutus .aboutus-text h1{
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0 0 6px  #02b60b;
}
.aboutus .aboutus-text P{
    font-size: 20px;
    color: #000;
    font-weight: 300;
    margin: 18px 0;
}
footer {
  background:#017729;
  text-align: center; 
  padding: 15px 5px;    
  font-size: 0.9rem;
  color: #ffffff;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
}
footer strong {
  color: #ffffff;
  text-shadow: 0 0 6px #02b60b;
}


/* MODO ESCURO!!!!!! */

.dark section h2{
  color: #3ee577;
  text-shadow: 0 0 6px #3ee577;
}
.dark .banner .banner-text h1{
    color: #aecfae;
    text-shadow: 0 0 6px  #02b60b;
}
.dark .aboutus .aboutus-text P{
    color: #ffffff;
}
.dark nav .logo{
    color:#95d996;
    text-shadow: 0 0 6px  #02b60b;
}
.dark nav ul a{
    color: #95d996;
}
.dark .btn{
    color: #95d996;
}
.dark .posts li{
    color: #000;
}