@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}   
body{
    background-color: rgb(167, 255, 190);
}
section,
footer{
    padding: 54px 0;
}
h2{
    font-size: 30px;
}

section{
  padding: 30px 50px;
}
.introduction .introduction-text{
  text-align: left;
  padding: 0 10px;
}
.introduction .introduction-text p{
    margin: 30px 0 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    background-color: rgb(11, 158, 60);
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn:hover{
    background-color: rgb(1, 119, 41);
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav .logo{
    color:#ffffff;
    text-shadow: 0 0 6px  #02b60b;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: #ffffff;
    margin: 0 25px;
    font-size: 18px;
    display: block;

}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 60px;
}
.banner .banner-text h1{
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0 0 6px  #02b60b;
}
.banner .banner-text P{
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    margin: 18px 0;
}
input[type= "checkbox"]{
  display:none;
}
.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}
footer {
  background:rgb(1, 119, 41);
  text-align: center; 
  padding: 10px 5px;    
  font-size: 0.9rem;
  color: #ffffff;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
}
footer strong {
  color: #ffffff;
  text-shadow: 0 0 6px #02b60b;
}
.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.dark footer{
  background-color: #263238;
  color: #fff;
}

.dark footer strong {
  color: #3ee577;
  text-shadow: 0 0 6px #3ee577;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark section h2{
  color: #3ee577;
  text-shadow: 0 0 6px #3ee577;
}
.dark .banner .banner-text h1{
    color: #0d3b0e;
    text-shadow: 0 0 6px  #02b60b;
}
.dark nav .logo{
    color:#0d3b0e;
    text-shadow: 0 0 6px  #02b60b;
}
.dark nav ul a{
    color: #0d3b0e;
}
.dark .btn{
    color: #0d3b0e;
}